<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success" [disabled]="recipeForm.invalid">Save</button>
                    <a class="btn btn-danger" (click)="onCancel()">Cancel</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Title</label>
                        <input formControlName="name" type="text" id="name" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Image Url</label>
                        <input #imageUrl formControlName="imagePath" type="text" id="image-url" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="img">                        
                        <img [src]="imageUrl.value"/>
                    </div>
                </div>
            </div>            
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="content">Content</label>
                        <textarea formControlName="description" id="name" rows="6" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="list-group" formArrayName="ingredients">
                        <div class="row" *ngFor="let ingredient of recipeForm.controls['ingredients']; let i = index">
                            <div formGroupName="{{i}}">
                                <div class="col-sm-5"><input formControlName="name" type="text" class="form-control" /></div>
                                <div class="col-sm-5"><input formControlName="amount" type="text" class="form-control" /></div>
                                <div class="col-sm-2"><button class="btn btn-danger" (click)="onRemoveItem(i)">X</button></div>                                
                            </div>
                            <br/><br/>
                        </div>                        
                    </ul>
                </div>
            </div>            
        </form>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group row">
            <div class="col-md-5"><input type="text" class="form-control" #itemName/></div>
            <div class="col-md-5"><input type="text" class="form-control" #itemAmount/></div>
            <div class="col-md-2"><button type="button" class="btn btn-primary" (click)="onAddItem(itemName.value, itemAmount.value)">+</button></div>
        </div>
    </div>
</div>